@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-300;
}


.button-input {
  @apply bg-gray-300 w-full block py-2 px-2 mb-2;
}

.setting-input {
  @apply bg-gray-300 block w-full px-2 py-2 mb-2;
}

label.input-label{
  @apply uppercase text-gray-400 text-xs mb-2 font-semibold;
}

.radio-togglers {
  @apply p-1 bg-gray-300 inline-flex;
}

.radio-togglers div {
  @apply p-2 px-4 flex items-center gap-2;
}

.radio-togglers input[type = "radio"] {
  @apply hidden p-2;
}

.radio-togglers input[type = "radio"]:checked + div {
  @apply bg-white text-blue-600;
}

.sortable-ghost {
  opacity: 0.2;
}



